@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('./assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/roboto-v20-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('./assets/fonts/roboto-v20-latin-500.woff2') format('woff2'),
    url('./assets/fonts/roboto-v20-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'led7';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('./assets/fonts/7LED.ttf') format('truetype');
}

@font-face {
  font-family: 'Technology';
  font-style: bold;
  font-weight: 500;
  src: local(''), url('./assets/fonts/Technology-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'segment7';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('./assets/fonts/Segment7-4Gml.otf') format('otf');
}

@font-face {
  font-family: 'lcd-tygra';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('./assets/fonts/LCD_TYGRA.ttf') format('ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  color: rgb(37, 37, 37);
  background-color: white;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

input[type='radio'] {
  margin: 5px;
}

input[type='range'] {
  display: block;
  appearance: none;
  height: 3px;
  background-color: #a2abb3;
  margin-top: 22px;
  outline: none;
  border-radius: 0.25rem;
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
}

output[name='manual-set-temp'] {
  font-family: Technology;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
}

.btn {
  width: 93px;
  min-height: 36px;
  margin: 10px;
  background: #e3f2fd;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #2c4c66;
}
.header {
  min-height: 64px;
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b2bec9;
  box-shadow: 0 0.1rem 0.25rem rgba(0, 0, 0, 0.5);
}

.heading {
  margin: 5px;
  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.main {
  width: 100%;
}

.grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 0.7fr 0.3fr;
  /*grid-template-rows: 1fr;*/
  grid-template-areas:
    'station control'
    'graph graph';
  /*grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));*/
}

.wrapper-station {
  height: 550px;
  grid-area: station;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper-control {
  height: 550px;
  grid-area: control;
  background-color: antiquewhite;
}

.mode,
.size-board {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 20px 10px;
  padding: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border: 1px dotted #313538;
}

.mode-heading,
.size-board-heading {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 0%;
  left: 50%;
  background-color: antiquewhite;
  padding: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.mode-type {
  width: 100%;
}

.manual-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.width-board,
.length-board {
  margin: 7px;
}

.wrapper-graph {
  height: 250px;
  grid-area: graph;
  background-color: #b2bec9;
}

.top-heater {
  width: 150px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #bfbfbf;
  margin: 10px;
}

.chip {
  width: 20px;
  height: 5px;
  border: 2px solid black;
  margin-top: 50px;
  margin-bottom: 5px;
  position: relative;
}

.board {
  width: 350px;
  height: 5px;
  border: 2px solid green;
  margin: 5px;
  position: relative;
}

.bottom-heater {
  width: 400px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #bfbfbf;
  margin: 10px;
}

.chip-text,
.board-text {
  min-width: 100px;
  position: absolute;
  transform: translate(150%, -50%);
  right: 0%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
}

.chip-temp,
.board-temp {
  font-family: Technology;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
}
.top-heater-text,
.bottom-heater-text {
  min-width: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.heading-control,
.heading-graph {
  margin: 10px;
  color: rgb(0, 0, 0);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

.temp-graph,
.power-top-graph,
.power-bottom-graph {
  width: 220px;
  height: 200px;
  border: 1px solid black;
  margin: 5px;
}

.wrapper-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}
